{% extends 'base.html' %}
{% block title %} Reset_password{% endblock title %}
{% load static %}
{% block content %}



        <!-- Single Page Header start -->
        <div class="container-fluid page-header py-5">
            <h1 class="text-center text-white display-6">Reset Password</h1>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><i style="color:#e9cd95" class="m-1 fa fa-home"></i><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-item active text-white">Reset Password</li>
            </ol>
        </div>
        <!-- Single Page Header End -->



<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center h-100">
        <div class="col-12 mt-4 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px; border:1px solid #62bf62; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-body p-5">
                {% include 'account/alert.html' %}
              <h2 class="text-uppercase text-center mb-5">Reset Password</h2>

              <form method="post">
                  {% csrf_token %}


                      <div class="form-item mb-4" style="position:relative">
                          <label class="form-label" >Create Password</label>
                          <input name="password" type="password" class="form-control" id="password" required />
                          <i style="position:absolute; top:33px; right:0px;" class="bi bi-eye-slash btn" id="togglePassword"></i>

                      </div>

                      <div class="form-item mb-4" style="position:relative">
                          <label class="form-label" >Confirm Password</label>
                          <input name="confirm_password" type="password" class="form-control" id="pass" required />
                          <i style="position:absolute; top:33px; right:0px;" class="bi bi-eye-slash btn" id="ico"></i>
                      </div>

                     <div class="row">
                          <button  type="submit" class="btn btn-primary btn-block my-4">Reset Password</button>
                     </div>

                  </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}