{% extends 'base.html' %}
{% block title %} Profile Edit {% endblock title %}
{% load static %}
{% block content %}


<!-- Single Page Header start -->
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Dashboard</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><i style="color:#e9cd95" class="m-1 fa fa-home"></i><a href="{% url 'home' %}">Home</a></li>

            <li class="breadcrumb-item active text-white">Dashboard</li>
        </ol>
    </div>
<!-- Single Page Header End -->
{% include "account/alert.html" %}



  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row gap-4" style="display: flex;justify-content: center;">
      {% include "dashboard/side_bar.html" %}
      {% include "side/edit_profile.html" %}
  </div>


{% endblock content %}
