{% autoescape off %}

        Hi {{ user.username }},
-------------------------------------------------------------------------
                   Thanks for shopping in our store
-------------------------------------------------------------------------
        Full Name: {{order.first_name}} {{order.last_name}}
        Mobile: {{order.phone_number}}
        Email: {{order.email}}
        Full Address: {{order.address_line_1}}, {{order.city}}, {{order.country}}
-------------------------------------------------------------------------
        Total Order: {{order.order_total}} Taka
        Tax : {{order.tax}} Taka
        Total Paid Amount: {{payment.amount_paid}} Taka
        Payment status: {{payment.status}}
-------------------------------------------------------------------------
        Payment Method : {{payment.payment_method}}
        Payment ID: {{payment}}
        Order ID: {{order.order_number}}
-------------------------------------------------------------------------
        Ordered At: {{payment.created_at}}


{% endautoescape %}